DATABASE_URL=postgresql://user:password@host/dbname?sslmode=require
PORT=3001
FRONTEND_URL=https://seu-projeto.vercel.app
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret
